@startgantt

title {{title}}

projectscale {{scale}}

project starts {{startdate}}

{% for milestone in msList %}
[ {{milestone.descr}} ] happens {{milestone.date}}
{% endfor -%}

{% for edSource in edSourceList %}
[({{edSource.type}}) {{edSource.name}}] as [b{{edSource.ID}}] starts {{edSource.startDate}}
[b{{edSource.ID}}] ends {{edSource.endDate}}
[b{{edSource.ID}}] is colored in {{edSource.color}}
{% endfor -%}
note bottom
Subjects: 
{% for subj in subjList -%}
{{subj.name}}: {{subj.color}}
{% endfor -%}

{%- block header1 %}
Time intervals:
{% endblock -%}
{% for interval in intervalList -%}
{{interval.startDate}} -- {{interval.endDate}}:
{% for subject in interval.descr -%}
{{subject.subjName}}: {{subject.subjPerf}} units/day
{% endfor %}
{% endfor -%}
end note
@endgantt
